# Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/
env/
.venv/

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# Model files

# IDE specific files (e.g., PyCharm, VSCode)
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Data files (if not needed for the repo)
data/
